.board-intro {
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/croatia.jpg");
  background-size: cover;
  align-items: center;
}

.logo {
  height: 4.5vh;
  width: auto;
}
