.board-intro {
  height: 95vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/croatia.jpg");
  background-size: cover;
  align-items: center;
}

.logo {
  height: 4.5vh;
  width: auto;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
