* {
  box-sizing: border-box;
  margin: 0;
}

.box {
  height: 50vh;
  width: 18vw;
  background-color: white;
 margin: 0.5vw;
  color: rgb(73,72,71);
  padding: 5px;
  text-align: center;
 /*  flex-basis: 13.5%; */
}

.weekend-box {
  height: 50vh;
  width: 18vw;
  background-color: rosybrown;
 margin: 0.5vw;
  color: rgb(73,72,71);
  padding: 5px;
  text-align: center;
 /*  flex-basis: 13.5%; */
}


.scroll-container {
  width: 80vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  padding: 5px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  width: 145vw;
}


.main {
  display: flex;
  margin: 0;
  background-color: rgb(238,238,238);
  min-height: 100vh;
  /* min-width: 100vw; */
  /* overflow-x: scroll; */
}

li {
  list-style: none;
}

.mylink {
color: white;
}
.planner {
  display: flex;
  overflow: hidden;
}

.user-container {
  /* width: 200px; */
  min-height: 100vh;
  height: 100%;
  background-color: rgb(27,172, 191);
  color: white;
  text-align: center;
  padding: 5px;
  min-width: 20%;
}

.navbar-style {
  background-color: rgb(73,72,71);
  padding-right: 10px;
}