.home-intro {
  height: 95vh;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/home-image.png");
  background-size: cover;
  display: flex;

  align-items: center;
}

.intro-box {
  margin-left: 15vw;
}

.intro-text {
  color: white;
}

.home-button {
  color: white;
  text-decoration: none;
}

.content {
  background-color: rgb(250, 250, 250);
  /* padding: 100px; */
}

.home-planner {
  height: 80vh;
  display: flex;
  justify-content: space-between;

  /* padding: 10vh; */
}

.home-planner-img {
  margin: auto 50px;
}
img {
  height: auto;
  width: 100%;
  border-radius: 3%;
}

.home-planner-text {
  margin: auto 50px;
}

.footer {
  background-color: #494847;
  color: white;

  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding: 20px;
}

.footer-text a {
  text-decoration: none;
  color: white;
}

.footer-text a[href] {
  color: white;
}

@media (max-width: 900px) {
  .home-planner {
    flex-direction: column;
    margin: 20px;
    height: 100vh;
  }

  .home-planner-text {
    margin: auto 10px;
  }

  .notmiddle1 {
    order: 2;
  }

  .notmiddle1 {
    order: 1;
  }

  .footer-text {
    text-align: center;
  }

  .intro-text {
    font-size: 40px;
  }

  .intro-box {
    margin: 0;
    text-align: center;
  }

  .home-intro {
    justify-content: center;
    align-items: center;
  }

  .button {
    font-size: 12px;
  }
}
