.draggable {
  width: 15vw;
  height: 8vh;
  background-color:#9C26B0;
  margin: 5px auto;
  border-radius: 5%;
  color: "#494847";
}

.card-details {
display: flex;
align-items: center;
height: 8vh;
padding: 5px;
}