.draggable {
  width: 15vw;
  min-height: 8vh;
  margin: 5px auto;
  border-radius: 5%;
  color: "#494847";
}

.card-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 8vh;
  padding: 5px;
}

@media (max-width: 900px) {
  .draggable {
    width: 70vw;
  }
}
